/*     Color Schemes     */
:root{
    --color1: #EFF1ED;
    --color2: #1A181B;
    --color3: #B33951;
    --color4: #3E8989;
    --color5: #007C77;
}

/*     Principal Styling     */
body{
    background: linear-gradient(45deg, black, #222);
    min-height: 100vh;
    font-family: 'Comic Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
	color: inherit !important;
	text-decoration: none !important;
}

header{
    color: var(--color1);
    font-size: 2rem;
    text-align: center;
}

header img{
    border-radius: 100%;

    animation: pfp-anim 1s ease forwards 6.5s;
}

/*     Site content     */
#title2 span{
    color: var(--color3)
}

.site-content{
    margin: 0 10%;

    animation: site-content-anim 1.5s ease forwards;
}

.description{
    margin-top: 10%;
    color: var(--color1);
    font-size: 1.5rem;
    text-align: justify;
}

.description label{
    font-size: 3rem;
    font-weight: bold;
    margin-left: 1.5rem;
    color: var(--color5); /*#ffbb3f*/
}

/*     Contact form     */
.contact-form>label>span{
    color: var(--color5);
    font-weight: bold;
}

.color-effect{
    position: absolute;
    width: 13rem;
    right: 50%;
    transform: translateX(50%);

    box-shadow: 0 0 400px 15px var(--color5); /*rgb(255 167 0)*/
    z-index: -1;
}

.contact-form{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 10% 0 5% 0;
}

.contact-form>label{
    color: var(--color1);
    font-size: 3rem;
    margin-bottom: 5%;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35rem;
}

.input-field{
    display: flex;
    flex-direction: column;
    color: var(--color1);

    font-size: 2rem;
}

.input-field label{
    margin-bottom: 1rem;
}

.input-field *:not(label){
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--color1);
    font-size: 1.3rem;
    color: var(--color1);
}

.submit-button{
    background-color: var(--color1);
    border-radius: 20px;
    width: 15rem;
    display: flex;
    padding: 7px;
    border: 6px solid black;
}

.submit-button input{
    color: var(--color2); 
    font-size: 2rem;
    font-weight: bold;
    font-family: "Calibri";

    background: none;
    border: none;
}

#view-cv{
    background: transparent;
    color: var(--color5); /*#ffbd42*/
    border-radius: 25px;
    font-size: clamp(1rem, 2vw, 100vw);
    padding: .8rem 1.5rem;
    text-align: center;
    border: 4px outset var(--color5); /*#ffc356a1*/
    box-shadow: 0px 0px 60px -15px var(--color5); /*orange*/
    cursor: pointer;
    font-family: Arial;
    font-weight: bold;
}

#cv-holder{
    display: flex;
    justify-content: center;
    align-items: center;


    margin: 5rem auto 10rem 44%;
    width: fit-content;
}

#cv-holder label{
    color: var(--color1);
    font-size: 1.5rem;
}

/*     Animations     */
#title1, #title2{
    position: relative;
    width: fit-content;
    margin: 2rem auto;
}

#title1{
    padding-right: 10px;
    border-right: rgba(255,255,255,0) solid 3px;

    animation: caret-blink .8s 3 1s;
}

#title2{
    padding-right: 10px;
    border-right: rgba(255,255,255,0) solid 3px;

    animation: caret-blink .8s 3 4s;
}

#title1::before{
    animation: typewrite 1s forwards;
}

#title2::before{
    animation: typewrite 1s forwards 3s;
}

#title1::before, #title2::before{
    content: '';
    background-color: #1A1A1A;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@keyframes typewrite {
    0%{
        width: 100%;
    }
    
    100%{
        width: 0%;
    }
}

@keyframes caret-blink {
    0%{
        border-right: rgba(255,255,255,0) solid 3px;
    }

    50%{
        border-right: rgba(255,255,255,1) solid 3px;
    }

    100%{
        border-right: rgba(255,255,255,0) solid 3px;
    }
}

@keyframes pfp-anim {
    0%{
        box-shadow: 0px 0px 0px -15px var(--color3);
    }

    100%{
        box-shadow: 0px 0px 60px -15px var(--color3);
    }
}

@keyframes site-content-anim{
    0%{
        display: none;
        transform: translateY(-50px);
        opacity: 0;
    }

    100%{
        display: inherit;
        transform: translateY(0px);
        opacity: 1;
    }
}

/*     Mobile Phones     */

@media only screen and (max-width: 600px) {
    .site-content{
        margin: 0 5%;
    }

    header img{
        width: 80%;
    }

    .description>label{
        text-align: center;
    }

    .submit-button{
        align-self: center;
    }
}