/*     Color Schemes     */
:root{
    --color1: #EFF1ED;
    --color2: #1A181B;
    --color3: white;
    --color4: #3E8989;
    --color5: #0ec5bd;
    --surprise-left: 50%;
    --surprise-animation: none;
}

/*     Principal Styling     */
body{
    position: relative;
    background: linear-gradient(45deg, black, #222);
    min-height: 100vh;
    font-family: 'Comic Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    position: relative;
}

a{
	color: inherit !important;
	text-decoration: none !important;
}

/*     Pages Styling     */
#page1{
    position: relative;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#page2{
    padding-top: 50px;

    height: 100vh;
}

/*     Site content     */


.site-content{
    margin: 0 5%;
}

.contact-links{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.pages-display{
    position: fixed;
    top: 50vh;
    right: 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pages-display>div{
    width: 20px;
    height: 20px;
    background-color: white;
    transform: scale(1.1);
    border-radius: 100%;
    border: 3px white solid;
    transition: background-color .5s ease, transform .5s ease;
}

.pages-display>:nth-child(2){
    transform: scale(1);
    background-color: transparent;
}

#main-image{
    width: clamp(150px, 25vw, 200px);
    border-radius: 100%;
    margin: 5vh auto;

    animation: pfp-anim 1s ease forwards 6.5s;
}

#main-image-holder::before{
    content: '';
    position: absolute;
    top: 50%;
    left: var(--surprise-left);
    transform: translateX(-50%) translateY(-50%);
    width: 150%;
    height: 100%;
    background: url("Images/surprise.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    z-index: -1;
    transition: left 1s ease;
    animation: var(--surprise-animation)
}

@keyframes rotate-surprise {
    0%{
        transform: translateX(-50%) translateY(-50%) rotateY(0deg);
    }

    100%{
        transform: translateX(-50%) translateY(-50%) rotateY(360deg);
    }
}

#about-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 3vw;
    margin-top: 5vh;
    width: 100%;
}

/* Chrome, Edge and Safari */
.description-holder::-webkit-scrollbar {
    width: 10px;
}

.description-holder::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255,255,255,.1);
}

.description-holder::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255,.6);
}

.description-holder::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, .5);
}

.description-holder::-webkit-scrollbar-thumb:active{
    background-color: rgba(255, 255, 255, .3);
}

.description-holder{
    max-height: 45vh;
    overflow: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
}

#description{
    align-self: flex-start;
    flex: 1;
    text-align: justify;

    color: white;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

#skills-caroussel{
    display: none; /* flex */
    flex-direction: column;

    border: 5px solid white;

    width: 40vw;
    height: fit-content;
}

#skills-caroussel>div{
   width: 100%;

   display: flex;
   overflow: hidden;
}

.holder-imgs{
    display: flex;
    gap: 5rem;

    margin-left: 3rem;
}

#holder1>.holder-imgs{
    animation: images-caroussel_1 13s linear both infinite;
}

@keyframes images-caroussel_1 {
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-1080px);
    }
}

#holder2>.holder-imgs{
    animation: images-caroussel_2 10.5s linear both infinite reverse;
}

@keyframes images-caroussel_2 {
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-720px);
    }
}

#holder3>.holder-imgs{
    animation: images-caroussel_3 10.5s linear both infinite;
}

@keyframes images-caroussel_3 {
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-720px);
    }
}

.holder-imgs img{
    width: 100px; /*20%*/
}

.holder-arrows{
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 50px;

    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: space-between;
}

.holder-arrows img{
    max-width: 50px;
    margin: 0 3%;
    border-radius: 100%;
}

#holder1, #holder2, #holder3{
    position: relative;
    justify-content: space-around;
}

#holder1{
    border-bottom: 5px solid white;
}

#holder3{
    border-top: 5px solid white;
}

#polaroid-holder{
    position: relative;
    perspective: 1000px;
    flex: 1;
    height: 100%;
    max-width: 35vw;
}

#polaroid-holder img{
    position: absolute;
    transition: transform .3s ease, box-shadow .3s ease;
}

#polaroid-holder img:nth-child(1){
    width: 60%;
    transform: rotateZ(-3deg);
}

#polaroid-holder img:nth-child(2){
    transform: rotateZ(5deg);
    width: 50%;
    left: 20%;
    top: 20%;
    z-index: -1;
}

#polaroid-holder img:nth-child(3){
    transform: rotateZ(10deg);
    width: 40%;
    left: 40%;
    top: 40%;
    z-index: -2;
}

#polaroid-holder img:nth-child(1):hover{
    transform: rotateZ(-8deg) scale(1.05);
}

#polaroid-holder img:nth-child(2):hover{
    transform: rotateZ(0deg) scale(1.05);
}

#polaroid-holder img:nth-child(3):hover{
    transform: rotateZ(5deg) scale(1.05);
}

#polaroid-holder img:hover{
    box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.3);
    z-index: 10;
}

/*     About me     */

#about-menu{
    display: flex;
    gap: 1.5vw;
}

#about-menu button {
    padding: 15px 40px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    background: linear-gradient(135deg, #0d0d0d, #232323);
    cursor: pointer;
    letter-spacing: 1px;
    /*clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%);*/


    clip-path:polygon(
    2px 36px, 
    37px 2px, 
    calc(100% - 2px) 2px, 
    calc(100% - 2px) calc(100% - 36px), 
    calc(100% - 36px) calc(100% - 2px), 
    2px calc(100% - 2px), 
    2px 36px
    );

    
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

#about-menu button:hover {
    background: linear-gradient(135deg, #232323, #4c4c4c);
    color: rgb(177, 177, 177);
    box-shadow: 0 0 15px #fff, 0 0 3px #fff inset;
}

#about-menu button::before {
    content: '';
    position: absolute;
    left: var(--left-position, -25%);
    opacity: var(--opacity, 1);
    bottom: -25%;
    background: white;
    width: 15px;
    transform: rotateZ(30deg);
    height: 150%;
    z-index: 55;
    transition: left .5s ease-in-out;
}

/*     CV Holder    */

#cv-holder{
    display: flex;
    justify-content: center;
    align-items: center;


    margin: 10vh auto 1rem 43%;
    width: fit-content;
}

#cv-holder img{
    width: clamp(70px, 20vw, 155px);
    transform: translateY(-18px);
}

#cv-holder label{
    font-family: Times New Roman;
    color: var(--color1);
    font-size: 1.5rem;
    transform: translateY(-18px);
}

#view-cv{
    background: transparent;
    color: var(--color5); /*#ffbd42*/
    border-radius: 25px;
    font-size: clamp(1.5rem, 2vw, 100vw);
    padding: .8rem 1.5rem;
    text-align: center;
    border: 4px outset var(--color5); /*#ffc356a1*/
    box-shadow: 0px 0px 60px -15px var(--color5); /*orange*/
    cursor: pointer;
    font-family: Arial;
    font-weight: bold;
    
    transition: transform .1s ease;
}

#view-cv:active{
    filter: brightness(0.8);
    transform: scale(.95);
}


/*     Contact form     */
.contact-form>label>span{
    color: var(--color5);
    font-weight: bold;
}

.color-effect{
    position: absolute;
    width: 13rem;
    right: 50%;
    transform: translateX(50%);

    box-shadow: 0 0 400px 15px var(--color5); /*rgb(255 167 0)*/
    z-index: -1;
}

.contact-form{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0% 0 5% 0;
}

.contact-form>label{
    color: var(--color1);
    font-size: 3rem;
    margin-bottom: 5%;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35rem;
}

input:focus, textarea:focus {
    outline: none;
    border: none;
}

.input-field{
    display: flex;
    flex-direction: column;
    color: var(--color1);

    font-size: 2rem;
}

.input-field label{
    margin-bottom: 1rem;
}

.input-field *:not(label){
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--color1);
    font-size: 1.3rem;
    color: var(--color1);
}

.submit-button{
    background-color: var(--color1);
    border-radius: 20px;
    width: 15rem;
    display: flex;
    padding: 7px;
    border: 6px solid black;
}

.submit-button input{
    color: var(--color2); 
    font-size: 2rem;
    font-weight: bold;
    font-family: "Calibri";

    background: none;
    border: none;
}

/*     Animations     */

@keyframes pfp-anim {
    0%{
        box-shadow: 0px 0px 0px -15px var(--color3);
    }

    100%{
        box-shadow: 0px 0px 60px -15px var(--color3);
    }
}

/*     Mobile Phones     */

@media only screen and (max-width: 600px) {
    .site-content{
        margin: 0 5%;
    }

    .submit-button{
        align-self: center;
    }

    #cv-holder img, #cv-holder label{
        display: none;
    }

    #cv-holder{
        margin: 6.5rem auto 1rem auto;
    }

    form{
        height: 30rem;
    }

    #page2{
        padding-top: 25px;
    }
}