/*          Principal Stylings          */
html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    margin: 0;
    font-family: 'Comic Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*          Header          */

header>*{
    margin: 0 5vw;
}

header>img{
    cursor: pointer;
    transition: transform .3s ease;
}

header>img:hover{
    transform: scale(1.15);
}

header>img:active{
    filter: brightness(.7);
}

.header-bg{
    background: #2F2E2E;
    width: 100%;
    height: 10rem;
}

.main-name{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;

    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(8rem);
    width: 15em;

    opacity: 0;
    transform: translateY(6.5rem);
    transition: transform .5s ease, opacity .5s ease;
}

#menu a{
    color: white;
    font-size: 2rem;
}

/*          Site Content          */
/* Site Content */
.site-content {
    width: 100%;
    position: relative;
}

.image-container {
    width: 100%;
    /*height: 100vh;*/
    height: 1080px;
    position: sticky;
    top: 0;
}

.image-container img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}


.image-container button{
    position: absolute;
    bottom: 75vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    background: transparent;
    border-radius: 25px;
    padding: 10px 30px;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
}

/*
.site-content{
    width: 100%;
}

.image-container{
    width: 100%;
    height: 100%;
}

.image-container img{
    object-fit: cover;
    object-position: 50% 50%;
}
    */