/*          Principal Stylings          */
body{
    margin: 0;
    background: linear-gradient(45deg, #31445b, #4a7596);
    font-family: sans-serif;
    z-index: 1;
}


/*          Header          */
.header-image{
    width: 100%;
    object-fit: cover;
    max-height: 50vh;
    object-position: 50% 50%;
    position: sticky;
    top: 0;
    z-index: -1;
}


/*          Site content          */
.site-content{
    width: 100%;
    background: linear-gradient(to right, rgb(253 0 255) -50%, #4a7596);
}

/*.color-effect{
    height: 500vh;
    position: absolute;
    left: 0;
    box-shadow: 0 0 200px 100px rgb(253 0 255);
}*/

.content-holder{
    margin: 0 auto;
    width: 85%;
    position: relative;
    padding-bottom: 5%;
}

#title{
    color: white;

    font-size: 4rem;
    text-align: center;
    margin: 0 auto 1.5rem 0;
    padding-top: 2%;
    filter: drop-shadow(0px 0px 3px white);
}

#description{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: justify;
    text-wrap: pretty;
}

.image-galery{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    margin-top: 5rem;
}

.image-galery img{
    width: 75%;
    margin: 0 auto;
}

/*          Mobile Phones          */
@media only screen and (max-width: 600px) {
    .image-galery{
        gap: 2rem;
    }

    .image-galery img{
        width: 100%;
    }
}