/*          Principal Stylings          */
body{
    margin: 0;
    background: linear-gradient(45deg, #31445b, #4a7596);
    font-family: sans-serif;
    z-index: 1;
}


/*          Header          */
.header-image{
    width: 100%;
    object-fit: cover;
    max-height: 50vh;
    object-position: 50% 50%;
    position: sticky;
    top: 0;
    z-index: -1;
}


/*          Site content          */
.site-content{
    width: 100%;
    background: linear-gradient(to right, rgb(173 53 82) -45%, #1f1f23, #3d6181)
}

/*.color-effect{
    height: 500vh;
    position: absolute;
    left: 0;
    box-shadow: 0 0 200px 100px rgb(173 53 82);
}*/

.content-holder{
    margin: 0 auto;
    width: 85%;
    position: relative;
    padding-bottom: 5%;
}

#title{
    color: white;

    font-size: 4rem;
    text-align: center;
    margin: 0 auto 1.5rem 0;
    padding-top: 2%;
    filter: drop-shadow(0px 0px 3px white);
}

#description{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: justify;
    text-wrap: pretty;
    line-height: 1.8rem;
}

.image-galery{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    margin-top: 5rem;
}

.image-galery img{
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}


/*          Image slideshow          */
.image-slide{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;
    opacity: 0;
    pointer-events: none;

    transition: opacity .3s ease;
}

#image-holder{
    position: relative;
    width: 75%;
}

#image-holder>img{
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 2px white;
    max-height: 90vh;
    object-fit: cover;
    object-position: 50% 50%;
}

#image-switch-buttons{
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 2.5%;
    width: 95%;

    display: flex;
    justify-content: space-between;
}

#image-switch-buttons img{
    cursor: pointer;

    border: 3px solid white;
    border-radius: 25px;

    transition: transform .3s ease;
}

#image-switch-buttons img:hover{
    filter: brightness(.9);
}

#image-switch-buttons img:active{
    filter: brightness(.7);
    transform: scale(.9);
}

/*          Mobile Phones          */
@media only screen and (max-width: 600px) {
    .image-galery{
        gap: 2rem;
    }

    .image-galery img{
        width: 100%;
    }

    #image-holder{
        width: 90%;
    }
}